{% include 'uhead.html'%}
<!--<style>-->
<!--body {-->
<!--  background-image: url("https://cdn.pixabay.com/photo/2018/01/07/17/37/discount-3067847__340.png");-->
<!--  background-size: cover;-->
<!--}-->
<!--</style>-->

<div class="container mt-3">
<h3 class="text-center">Chat</h3>
<table style="width:100%" class="table table-bordered">
  <tr>
        <th>User Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
       <th>Chat</th>

  </tr>
      {% for user in users%}
      <tr>
        <td>{{user[1]}}</td>
        <td>{{user[3]}}</td>
        <td>{{user[2]}}</td>
         <td>{{user[5]}}</td>
          <td>
            <button class="btn btn-success" onclick="openChat('{{str(user[0])}}','{{user[1]}}')">Chat</button>
          </td>

      </tr>
  {% endfor%}

</table>
</div>

<script>
    let refreshIntervalId = null;
    $(document).ready(function(){
            getMessages();
        $("#btn-send").on("click", ()=>{
            sendMessage()
        })
    });
    function openChat(other_user_id, other_user_name){

        $("#other_user_name").html(other_user_name);
        $("#other_user_id").val(other_user_id);
        if($(".chat").hasClass("chat-toggle")){
            getMessages();
            $(".chat").removeClass("chat-toggle");
            intervalManager(true, getMessage, 1000);
        }else{
            $(".chat").addClass("chat-toggle");
            intervalManager(false);
        }
    }
    function closeChat(){
        $(".chat").addClass("chat-toggle");
        intervalManager(false);
    }
    function getMessages() {
        $.get("get_messages?other_user_id="+$("#other_user_id").val(), function(data, status){
            let messages = data['messages']
            console.log(typeof(messages))
            console.log(messages)
            let display_message = "";
            for(let i=0; i<messages.length; i++){
                if(messages[i]['sender_id']!=$("#other_user_id").val()){
                    display_message = display_message + `<div class="text-end text-primary pe-3 mt-1">${messages[i]['message']}</div>
                                                        <div class="text-end pe-3 message-text text-muted" >${messages[i]['date']}</div>`
                }else{
                    display_message = display_message + `<div class="text-start text-success ps-3 mt-1">${messages[i]['message']}</div>
                                                        <div class="text-start ps-3 message-text text-muted" >${messages[i]['date']}</div>`
                }

            }
            console.log(display_message)
            $(".chat-body-messages").html(display_message)
            var chat_body_messages = document.getElementById("chat-body-messages");
            chat_body_messages.scrollTop = chat_body_messages.scrollHeight;
            setAsReadReceiver()
            setAsReadSender()
        });

    }
    function sendMessage() {
        let message = $("#message").val()
        if(message == ""){
            alert("Enter Message")
        }else{
            $.get("send_messages?other_user_id="+$("#other_user_id").val()+"&message="+message, function(data, status){
                console.log(data)
                $("#message").val("")
            });
        }

    }
    function setAsReadReceiver(){
        $.get("set_as_read_receiver?other_user_id="+$("#other_user_id").val(), function(data, status){
              console.log(data)
              isUpdateReceiver = true
        });
    }
    function setAsReadSender(){
        $.get("set_as_read_sender?other_user_id="+$("#other_user_id").val(), function(data, status){
              console.log(data)
              isUpdateSender = true
        });
    }
    function getMessage(){
            console.log("inside")
            $.get("get_message?other_user_id="+$("#other_user_id").val(), function(data, status){
            let messages = data['messages']
            let display_message = "";
            for(let i=0; i<messages.length; i++){
                if(messages[i]['sender_id']!=$("#other_user_id").val()){
                    display_message = display_message + `<div class="text-end text-primary pe-3 mt-1">${messages[i]['message']}</div>
                                                        <div class="text-end pe-3 message-text text-muted" >${messages[i]['date']}</div>`
                }else{
                    display_message = display_message + `<div class="text-start text-success ps-3 mt-1">${messages[i]['message']}</div>
                                                        <div class="text-start ps-3 message-text text-muted" >${messages[i]['date']}</div>`
                }

            }
            $(".chat-body-messages").append(display_message)
            var chat_body_messages = document.getElementById("chat-body-messages");
            chat_body_messages.scrollTop = chat_body_messages.scrollHeight;
        });
    }

    let intervalID = null;
    function intervalManager(flag,getMessage, time) {
       if(flag)
         intervalID =  setInterval(getMessage, time);
       else
         clearInterval(intervalID);
    }

</script>
<input type="hidden" id="other_user_id">
<div id="chat" class="chat chat-toggle ">
    <div class="">
        <div class="row p-2">
            <div class="col-md-10" id="other_user_name"></div>
            <div class="col-md-2 text-end chat-close-btn"  onclick="closeChat()">X</div>
        </div>
        <hr>
        <div class="chat-body">
            <div class="chat-body-messages" id="chat-body-messages">

            </div>
            <div class="chat-body-input">
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" id="message" class="form-control" placeholder="Write your message here">
                    </div>
                    <div class="col-sm-2 pt-2">
                        <i class="material-icons" id="btn-send">send</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>